*.DS_Store
*.aux
*.bcf
*.lof
*.log
*.lot
*.toc
*.out
*.run.xml
*.bbl
*.blg
*.fdb_latexmk
*.fls
*.xdv
*.loa
*__pycache__/
*.ipynb_checkpoints/
*_minted-main

# package files
src/sequence_sensei.egg-info/*
dist/sequence_sensei-0.0.1-py3.7.egg
