[submodule "src/chapters/03/paper/bibliometric-study-of-the-prisoners-dilemma"]
	path = src/chapters/03/paper/bibliometric-study-of-the-prisoners-dilemma
	url = https://github.com/Nikoleta-v3/bibliometric-study-of-the-prisoners-dilemma.git
